<!DOCTYPE html>
<html>
  <head>
    <title>Super Simple Blog</title>
    <link rel="stylesheet" href="/dist/bootstrap.min.css" />
    <link rel='stylesheet' href='/dist/app.min.css' />
  </head>
  <body>
    <noscript>
      <% if (posts) { %>
        <ul>
          <% for(var i=0; i<posts.length; i++) {%>
             <li><a href="/posts/<%= posts[i].id %>"><%= posts[i].title %></a></li>
          <% } %>
        </ul>
      <% } %>

      <% if (post) { %>
        <h1><%= post.title %></h1>
        <div><%= post.contents %></div>
      <% } %>
    </noscript>
    <script src="/dist/vendor.min.js"></script>      
    <script src="/dist/app.min.js"></script>      
    <script src="/dist/templates.js"></script>      
    <% if (!process.env.NODE_ENV || process.env.NODE_ENV === 'development') { 
      %>
      <script src="http://localhost:35729/livereload.js"></script>      
    <% } %>
  </body>
</html>